0x00-personal_data/__pycache__

0x01-Basic_authentication/.venv
0x01-Basic_authentication/README.md:Zone.Identifier
0x01-Basic_authentication/requirements.txt:Zone.Identifier
0x01-Basic_authentication/__pycache__
0x02-Session_authentication/.venv
0x02-Session_authentication/__pycache__
0x02-Session_authentication/api/__pycache__
0x02-Session_authentication/api/v1/__pycache__
0x02-Session_authentication/models/__pycache__
0x02-Session_authentication/api/v1/auth/__pycache__
0x02-Session_authentication/api/v1/views/__pycache__
