.places {
    display: flex;
	flex-direction: row;
}

.places > h1{
    font-size: 30px;
}

article {
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}